
:host {
  border: 2px solid black;
  border-radius: 4px;
  background-color: lightgreen;
  padding: 10px;
  margin-top: 10px;
}

:host.invalid {
  background-color: lightpink;
}

.json {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.divider {
  border: 1px dashed red;
}

.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
