button {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: larger;
  background-color: rgb(240, 240, 240);
  width: 120px;
  outline: none;
}

button:active {
  background-color: rgb(220, 220, 220);
}